.page-titles {
    margin: 0;
}
.container-fluid {
    padding: 0 15px;
}
.help-block-error {
    color: #fc6180;
}
#admin-content h1 {
    line-height: 30px;
    font-size: 21px;
}
/*#admin-content p {*/
    /*display: none;*/
/*}*/
.glyphicon {
    display: inline-block;
    padding: .35em .75em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.glyphicon-eye-open{
    background-color: #5c4ac7;
    color: #fff;
}
.glyphicon-pencil {
    background-color: #26dad2;
    color: #fff;
}
.glyphicon-trash {
    background-color: #ef5350;
    color: #fff;
}
.has-error .help-block {
    color: #fc6180;
}
.navbar {
    margin-bottom: 0 !important;
}
.navbar-brand {
    float: none;
    height: auto;
    padding: 0;
    line-height: unset;
}
.upload-kit .upload-kit-input .drag, .upload-kit .upload-kit-input .add {
    top: 42%;
}
.form-control {
    height: unset;
}
.multiple-input-list__item .radio, .multiple-input-list__item .checkbox {
    margin: 0;
}
.radio label, .checkbox label {
    line-height: 20px;
}

@media (min-width: 576px) {

    .modal-dialog {
        max-width: 600px;
        margin: 30px auto;
    }
}
.search_list {
    position: relative;
}

.search_list ul{
    position: absolute;
    max-width: 50%;
    top: 10px;
    width: 100%;
    border-radius: 5px;
    opacity: 0;
    padding: 20px;
    visibility: hidden;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: 0.2s ease;
}

.search_list li {
    cursor: pointer;
    line-height: 25px;
}

.search_list ul.active {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.bron-label {
    line-height: 20px;
    font-size: 14px;
}